/* GLOBAL STYLES */

body {
    font-size: 16px;
}

.content-container {
    width: 100%;
}


/* HEADER STYLES */

.header {
    background-color: transparent;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 20;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.header.black {
	background-color: #080031;
}

.header .nav-bar {
    float: right;
    padding: 4vh 60px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}

.nav-bar li {
    text-decoration: none;
    display: inline-block;
}

.nav-bar li ~ li {
    margin-left: 1em;
}

.nav-bar li a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.nav-bar.black li a {
	color: #000;
}

.nav-bar li a:hover {
    text-shadow: 1px 0px 20px #ffd200;
    color: orange;
}

.header .prev-wong {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 100px;
    transition: 0.2s ease-in;
}

.header .prev-wong.animate {
    left: 0;
    transform: translateX(0%);
    top: 0;
}

.header .prev-wong img {
    transition: 0.2s ease-in;
    top: 0;
    position: relative;
    margin-top: 5px;
}

.header .event-date {
    font-size: 2.5em;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    left: 0;
    top: 0;
}

.header .prev-wong.animate .event-date {
    top: -20px;
    opacity: 0;
}

.header .prev-wong.animate img {
    top: -20px;
    width: 60px;
    left: -40%;
}


/* HERO STYLES */

.hero-section {
    box-sizing: border-box;
    padding: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #02052d;
    padding-top: 400px
}

.hero-section .particles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.hero-section h3,
.hero-section h4 {
    text-align: center;
    color: #fff;
}

.hero-section .event-name {
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.0em;
}

.hero-section .event-tagline {
    margin-top: 20px;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
}

.hero-section img {
    position: relative;
    width: 10%;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.hero-section .event-buttons {
    display: inline-block;
    position: relative;
    height: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 100px;
}

.event-buttons li ~ li {
    margin-top: 20px;
}

.event-buttons li a {
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: #9e9e9e;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 40px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.event-buttons li a:hover {
    color: #fff;
    background-color: #673ab7;
    border: 2px solid #fff;
}


/*ABOUT STYLES */

.about-section {
    background-color: #fff;
    height: 40vw;
    width: 100%;
    display: inline-block;
    color: #000;
}

.about-section p {
    font-family: 'Ubuntu', sans-serif;
    line-height: 2em;
}

.about-section .about-title {
    margin-top: 50px;
    font-size: 4em;
    text-align: left;
    margin-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;
}

.about-section .history-text,
.explain-section p {
    width: 60%;
    margin: 50px auto 0 auto;
    font-size: 1.5em;
}

.explain-section .explain-title {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 30px;
    text-align: left;
    margin-left: 10%;
    font-size: 3em;
}


/*EVENT-STATS SECTION */

.event-stats {
    margin-top: 50px;
    height: 70vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.event-stats .past-employers {
    flex: 0 1 40%;
    overflow: scroll;
}

.event-stats .past-employers div{
    display: inline-block;
    width: 15%;
    height: 10%;
		box-sizing: border-box;
		margin: 10px;
}

.event-stats .past-employers img {
    display: inline-block;
		width: 100%;
		height: auto;
    
}

.event-stats .past-employers h3 {
	font-size: 1.5em;
	margin: 12px 0 0 1vh;
	font-family: 'Ubuntu', sans-serif;
}

.photos-section {
    position: relative;
    flex: 0 0 auto;
    width: auto;
}

.photos-section img {
    width: auto;
    height: 70vh;
    position: relative;
}


/*SPONSORS SECTION */

.sponsors-section {
	margin: 30px 10%;
}

.sponsors-section > div ~div {
	margin-top: 20px;
}

.sponsors-section, .supporting-div, .media-div {
	max-width: 60%;
	margin: auto;
	display: block;
}

.employers-div h3, .supporting-div h3, .media-div h3 {
	text-align: center;
	font-size: 2.5em;
	color: #18469d;
}

.employers-div img{
		float: left;
}

.supporting-div div, .media-div div {
	text-align: center;
}

.employers-div img, .supporting-div img, .media-div img {
	width: 10vw;
	height: 10vw;
	margin: 40px;
}
