--- 
layout: default 
reg_link: https://www.eventbrite.com/e/tech-career-days-mmu-tickets-39367831243?aff=website
proposal_link: /proposal.pdf
logo_link: /images/logo.png
resume_link: https://resumetcd.herokuapp.com 
---

<div class="home">
    <div class="hero-section" id="register">
        <div id="particles-js" class = "particles"></div>
        <section>
        <h3 class="event-name"></h3>
        <h4 class="event-tagline"></h4>
        <h3 class="event-date" id="event-date">Coming this December 13rd-14th</h3>
        <ul class="event-buttons">
            <li><a class = "previan_btn" href = "{{ page.reg_link }}">Register Now!</a></li>
            <li><a class = "previan_btn" href="{{ page.resume_link }}">Resume Submission Portal</a></li>
        </ul>
        </section>
    </div>
    <div class="about-section" id="about">
        <h3 class="about-title" id="about-title">
    		About Tech Career Days
    	</h3>
        <div class="history-text">
            <p>
                Tech Career Days (formerly known as IT Career Week) is an annual 2-days tech jobs fair organized by IT Society MMU Cyberjaya that aims to address the needs of startups and tech companies to find tech talents while at the same time help students secure internships, full-time or freelance jobs as well as explore possible career paths in the future.
            </p>
            <br>

        </div>
        
    </div>
    <div class="event-stats">
        <div class="photos-section" id="photos-section">
        <span class = "link-section"><a class = "hover" href = "https://goo.gl/photos/iSp5HcUHvEjW9scYA" rel = "noopener" target = "_blank">IT CAREER WEEK 2017 PHOTOS</a></span>
        
            {% for image in site.static_files %} {% if image.path contains 'images/event-photos' %}
            <div class = "images">
                <img src="{{ image.path }}" class = "image" alt="event-photo">
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="past-employers">
            <h3>Past Employers</h3> {% for image in site.static_files %} {% if image.path contains 'images/past-employers' %}
            <div>
                {% assign word = image.path | split: "-" %} {% if word[2] %}
                <a href="http://{{ word[2] }}" target="_blank">
                    <img src="{{ image.path }}" alt="past-employers">
                </a>
                {%else%}
                <img src="{{ image.path }}" alt="past-employers"> {% endif %}
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    <div class="sponsors-section" id="sponsors">
        <div class="employers-div">
            <h3>Participating Employers</h3> {% for image in site.static_files %} {% if image.path contains 'images/current-employers' %}
            <div>
                {% assign word = image.path | split: "-" %} {% if word[2] %}
                <a href="http://{{ word[2] }}" target="_blank">
                    <img src="{{ image.path }}" alt="participating-employers">
                </a>
                {%else%}
                <img src="{{ image.path }}" alt="participating-employers"> {% endif %}
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="supporting-div">
            <h3>Supporting Partners</h3> {% for image in site.static_files %} {% if image.path contains 'images/supporting-partners' %}
            <div style="float:unset;margin:auto">
                {% assign word = image.path | split: "-" %} {% if word[2] %}
                <a href="http://{{ word[2] }}" target="_blank">
                    <img src="{{ image.path }}" alt="supporting-partners">
                </a>
                {%else%}
                <img src="{{ image.path }}" alt="supporting-partners"> {% endif %}
            </div>
            {% endif %} {% endfor %}
        </div>
        <br>
        <div class="media-div">
            <h3>Media Partners</h3> {% for image in site.static_files %} {% if image.path contains 'images/media-partners' %}
            <div style="float:unset;margin:auto">
                {% assign word = image.path | split: "-" %} {% if word[2] %}
                <a href="http://{{ word[2] }}">
                    <img src="{{ image.path }}" alt="media-partners">
                </a>
                {%else%}
                <img src="{{ image.path }}" alt="media-partners"> {% endif %}
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    <div class="contact-section">
        <h3>Join Us</h3>
        <p class="top">Interested to become one of our awesome employers or sponsors?</p>
        <p>Feel free to drop us a message to express your interest and check what's available.</p>
        <div style="display:none;" id="thankyou_message">
            <p>Thanks for getting in touch. We will get back to you as soon as possible.</p>
        </div>
        <div class="form-container">
            <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbyWzIcnZjxJ6G3ngzzlEhrzcywQxO4K0mc7eAwk5xZP3GdASc4/exec?callback=googleDocCallback">
            <div>
                <input class="input-half" name="name" type="text" id="name" placeholder="Contact name" required>
                <input class="input-half" name="company name" type="text" id="company name" placeholder="Company name" required>
                <input class="input-full" name="email" type="email" id="email" placeholder="Email Address" required>
                <textarea class="input-full" name="message" type="text" id="message" placeholder="Message" rows="3" required></textarea>
                </div>
                <button class="input-full" type="submit" id="submit_button">Submit</button>
                <a class="input-full" href="{{ page.proposal_link }}">Sponsorship Proposal</a>

            </form>
        </div>
    </div>
    <div class="faq-section" id = "faq">
        <div class="faq-container">
            <h3>Frequently Asked Questions</h3>
            <h4>What is the resume submission portal?</h4>
            <p><b>Students</b>
                <br>The resume submission portal is where students can upload resume to get advices from Tech Career Days volunteers. Approved resumes will be available for employers to view before the event, hence allowing students to get contacted by employers before the event. The rules(do not apply to freelancers) can be found <a href="{{ page.resume_link }}">here</a>.
                <br>
                <br>
                <b>Employers</b>
                <br>After the resume submission portal is open, all employers will be able to view pre-screened students' resumes to find suitable canditates and contact them before the event.</p>
            <h4>What's the target audience?</h4>
            <p>From what we learn earlier this year, we are expecting to see about 600-700 students, mainly but not limited to penultimate and final year students doing degree in computer science. We do welcome others from diploma, postgraduate in IT, as well as those from other faculties to check out the event. Detailed statistics and breakdowns are available in our proposal.</p>
            <h4>What are the activities that's going to happen during the event?</h4>
            <p>- Students-employers interaction
                <br> - Networking lunch (get together session where lecturers, committees and employers sit together and have discussion)
                <br> - On-the-spot interview
                <br> - Resume clinics
                <br> - Lucky draws
                
            <h4>How much is the admission fee?</h4>
            <p>It's free of charge for students. However, we do charge minimum fees for employers. IT Career Week is 100% non-profit student-run event. As such, we will need your help and contribution to make the event possible.</p>
            <h4>What would happen should there is excess in the contribution from sponsorship?</h4>
            <p>If there is any, we will channel the excess to fund our future workshops, tech talks, codelabs, barcamps, etc.</p>
        </div>
    </div>

</div>


