<header class="header">
 		<div class = "prev-wong">
    <h3 class="event-date" id="event-date">Coming this December 13rd-14th</h3>
    <img src="/images/logo.png">
    </div>
    <nav class="nav-bar">
        <ul class="nav-links">
            <li><a href="#">Register</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">Employer Login</a></li>
            <li><a href="#">Student login</a></li>
           
        </ul>
    </nav>
</header>
