<head>
    {% if page.title %}
    <title>{{ page.title }} | Tech Career Days MMU</title>
    {% else %}
    <title>Tech Career Days MMU</title>
    {% endif %}
    <meta charset="utf-8"> {% if page.description %}
    <meta name="description" content="{{ page.description }}"> {% else %}
    <meta name="description" content="Tech Career Days MMU, an annual tech jobs fair by IT Society MMU Cyberjaya."> 
    {% endif %}
    <link href="favicon.png" rel="icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Source+Sans+Pro|Titillium+Web|Ubuntu" rel="stylesheet">
</head>
