<header class="header">
    <div class="prev-wong">
        <h3 class="event-date" id="event-date">Coming this December 13rd-14th</h3>
        <img src="/images/logo.png">
    </div>
    <nav class="nav-bar">
        <ul class="nav-links">
            <li class="smooth"><a href="#register">Register</a></li>
            <li class="smooth"><a href="#about">About</a></li>
            <li class="smooth"><a href="#sponsors">Sponsors</a></li>
            <li class="smooth"><a href="#faq">FAQ</a></li>
            <li><a href="https://resumetcd.herokuapp.com" target="_blank">Resume Poral</a></li>
        </ul>
    </nav>
</header>
