<header class="header">
    <div class="prev-wong">
        <img src="/images/logo.png">
        
    </div>
    <nav class="nav-bar">
        <ul class="nav-links">
            <li class="smooth"><a href="#register">Register</a></li>
            <li class="smooth"><a href="#about">About</a></li>
            <li class="smooth"><a href="#sponsors">Sponsors</a></li>
            <li class="smooth"><a href="#faq">FAQ</a></li>
            <li><a href="https://www.facebook.com/tcdmmu/" target="_blank">Facebook</a></li>
            <li><a href="https://resumetcd.herokuapp.com" target="_blank">Resume Portal</a></li>
        </ul>
    </nav>
</header>
