<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <div class="content-container">
        {{ content }}
    </div>
    {% include footer.html %}
    <script src="/javascript/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/javascript/particles.js" type="text/javascript">
    </script>
    <script src="/javascript/main.js" type="text/javascript"></script>
    <script data-cfasync="false" type="text/javascript" src="/javascript/form-submission-handler.js"></script>
    <script data-align="right" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#9C27B0" data-apps="JTdCJTIyZmFjZWJvb2slMjI6JTIyMjA2MzIyODQ5NDEyNTQ2JTIyLCUyMmVtYWlsJTIyOiUyMml0c29jLm1tdUBnbWFpbC5jb20lMjIlN0Q="></script>

</html>